ion-header {
    ion-toolbar {
        --background: #65ba48;
        color: #fff;
        --padding-top: 8px;
        --padding-bottom: 8px;

        ion-menu-button {
            --color: #fff;
        }
        ion-buttons{
            ion-button{
                --color: #fff;
            }
        }
       
    }
}
ion-content{
    ion-list{
        ion-item.item-radio-checked {
            --background: #65ba4817;
            ion-radio{
                --color-checked: green;
            }
        }
    }
    
}