ion-header {
    ion-toolbar {
        --background: #65ba48;
        color: #fff;
        --padding-top: 8px;
        --padding-bottom: 8px;

        ion-menu-button {
            --color: #fff;
        }
    }
}

ion-content {
    .text-center{
        text-align: center;
    }
    ion-item{
        ion-label {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 10px;
            overflow: visible;
        }
        .search-btn{
            --background: #65ba48;
            color: #fff;
            --border-color: #fff;
           height: 35px;
        }
    }
    ion-button.print-btn {
        --background: #65ba48;
        --border-color: #fff;
        height: 40px;
        font-size: 16px;
        margin: 20px auto;
        font-family: "Poppins", sans-serif;
        color: #ffffff
    }
    .order-html{
        text-align: center;
        padding: 20px;
    }
   
    .quantity-outer {
        padding: 7% 5%;
    }
    .quantity-controls{
        display: inline-block;
    }
    .print-quantity{
        font-size: 31px;
        padding: 0px 5px;
        vertical-align: bottom;
    }
}