<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row padding>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <ion-item class="order-item">
          <ion-searchbar [(ngModel)]="orderNumber" type="number" placeholder="Order No." autocomplete="false"
          inputmode="tel" class="search-bar">
          </ion-searchbar>
          <ion-button (click)="findOrder()" fill="outline" shape="round" class="search-btn">
             Search
          </ion-button>
         
        </ion-item>
      </ion-col>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <div [innerHTML]="errorMsg"></div>
      </ion-col>

      <ion-col size-md="7" size-lg="6" size-xs="12">
        <div [innerHTML]="orderHTML" [ngClass]="orderHTML === '' ? '' : 'order-html'"></div>
      </ion-col>
      <ion-col size-md="5" size-lg="6" size-xs="12">
        <ion-row *ngIf="order">
          <!-- <ion-col size-md="6" size-lg="5" *ngIf="receiptImage" size-xs="12" class="text-center">
           <img [src]="receiptImage" />
         </ion-col>
         <ion-col size-xs="7" size-md="6" size-lg="6" class="quantity-outer">
           <div class="quantity-btns">
           <ion-icon name="remove-circle" (click)="decrement()" class="quantity-controls" size="large"></ion-icon>
           <span class="print-quantity">{{selectedCopies}}</span>
           <ion-icon name="add-circle" (click)="increment()" class="quantity-controls" size="large"></ion-icon>
           </div>
         </ion-col> -->
         <ion-col size-xs="12" size-md="12" size-lg="12" class="print-recipt pr-0">
           <ion-button fill="outline" shape="round" class="print-btn" (click)="printCustomerReceipt(false)">
             <ion-icon slot="start" name="print"></ion-icon>Print
           </ion-button>
         </ion-col>
       </ion-row>
        
      </ion-col>


    </ion-row>
   
  </ion-grid>

</ion-content>
