<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row padding>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <ion-item>
          <ion-label position="fixed">Order No. :</ion-label>
          <ion-input [(ngModel)]="orderNumber" type="number" placeholder="e.g. 12345" autocomplete="false"
            inputmode="tel">
          </ion-input>
          <ion-button type="button" color="primary" (click)="findOrder()">Search</ion-button>
        </ion-item>
      </ion-col>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div [innerHTML]="errorMsg"></div>
      </ion-col>

      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div [innerHTML]="orderHTML"></div>
      </ion-col>

      <ion-col size-md="6" size-lg="5" size-xs="12" *ngIf="order">
        <ion-button (click)="printCustomerReceipt(false)">Print</ion-button>

        <img [src]="receiptImage" *ngIf="receiptImage" />
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
