/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
    font-family: 'Poppins', sans-serif ;
}

.alert-wrapper.sc-ion-alert-ios {
    border-radius: 0;
}

#printPOS,
.order-html {
    font-family: initial !important;
}

.login-error {
    a {
        display: block;
        color: #65ba48;
        text-decoration: none;
    }
}
.order-item {    
    .search-bar {
        .searchbar-input-container{
            input.searchbar-input{
                padding-inline-start:36px;
            }
        }
        
        ion-icon{
            left: 10px;
            width: 18px;
        }
    }
}

.order-html {
    span {
        display: block;
    }

    p {
        display: block;
        text-align: center;
    }

    p:last-child {
        display: block;
        text-align: center;
        font-weight: normal;
    }

    p:first-child,
    p:nth-child(2),
    p:nth-child(3) {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    p:first-child {
        font-weight: 600;
    }
}
app-printer{
    width: 100%;}